* {
  box-sizing: border-box;
}

@media (max-width: 600px) {
  body {
    flex-direction: column;
    padding: 10px;
    overflow-y: hidden;
  }

  main {
    width: 100%;
    padding: 10px;
  }

  p {
    width: 100%;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
body {
  overflow-y: hidden;
}

  main {
    width: 80%;
  }

  p {
    width: 80%;
  }
}

@media (min-width: 901px) {
body { 
  overflow-y: hidden;
}

  /* main {
    width: 60%;
  }

  p {
    width: 60%;
  } */
}

body {
  background-color: rgb(10, 15, 10);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}


main {
  background-color: rgba(255, 255, 255, 0.1);
  max-width: 500px;
  padding: 10px 40px;
  border-radius: 10px;
}

p {
  /* overflow: auto; */
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  width: 300px;
  display: none;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgb(162, 224, 70);
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: rgb(124, 173, 51);
}

input {
  padding: 10px;
  border-radius: 5px;
  border: none;
}
